* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ebebeb;
    font-family: "Schibsted Grotesk", sans-serif;

}

h1 {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 16px;
}

p {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/* ----- SECTION STYLES ----- */
.navigation {
    width: 100%;
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ebebeb;
    z-index: 15;
}

.general-section {
    width: 100%;
    height: 90dvh;

}

/* ----- CONTAINER STYLES ----- */
.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 1040px;
    padding: 0 24px 40px 24px;
    margin: auto;
}

/* ----- GRID STYLES ----- */
.art-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,500px));
    gap: 40px;
    justify-content: center;
}

.art-grid-item {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    aspect-ratio: 1.0;
    background-color: black;
}

.info-cta {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #FF4F14;
    z-index: 10;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), width 0.3s ease, height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

.art-grid-item:hover .info-cta {
    opacity: 1;
}

.art-grid-item .info-cta::after {
    content: "";
    color: white;
    font-size: 10px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.art-grid-item.show-info .info-cta::after {
    content: "Close";
    color: white;
    font-size: 10px;
    font-weight: 400;
}

.info-cta:hover {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 0 10px;
    transition: transform 0.3s ease, width 0.1s ease, height 0.3s ease;
}


.info-cta:hover::after {
    content: "More Info";
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.art-grid-item img {
    width: 100%;
    height: 100%;
}

/* ----- OVERLAY STYLES ----- */
.art-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 3;
}

.art-info-overlay-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10%;
}

.art-info-overlay-container h2 {
    font-size: 16px;
    font-weight: 400;
    padding-top: 5%;
}

.art-info-overlay p {
    font-size: 12px;
    color: black;
}

.art-grid-item.show-info .art-info-overlay {
    opacity: 1;
    visibility: visible;
}

.info-cta.active {
    width: fit-content;
    padding: 0 10px;
}

.info-cta.active::after {
    content: "Close";
}

/* ----- OTHER STYLES ----- */
.logo-black {
    display: block;
    background-image: url('/images/jan_kaminsky_logo_black.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 62px;
}

.title {
    padding-top:40px;
    text-align: center;
}

.subtext {
    text-align: center;
}