* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

p {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.spline-background {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100vh;
}

.top {
    height: 85vh;
}

.bottom {
    height: 15vh;
    flex-direction: row;
    padding: 0px 24px 0px 24px;
    background-color: black;
}

.item {
    text-align: center;
}

.logo {
    width: 250px;
    height: 150px;
    background-image: url('/images/jan_kaminsky_logo_gif_alpha.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.subheading {
    font-size: 16px;
    padding: 0px 24px 0px 24px;
}

.body_text {
    padding-top: 12px;
    font-size: 12px;
}

.footer_text {
    font-size: 10px;
    color: darkgrey;
}

.footer_text a {
    color: darkgray;
}